@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');



body{
    background-color: black;
    color: whitesmoke;
    font-family: 'Righteous', cursive;
}
header {
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
}

h2 {
    font-weight: lighter;
    text-align: center;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

nav {
    display: inline-flex;
    flex-direction: column;

}

form.name-input {
    display: inline-flex;
    align-content: space-between;
}

#grid {
    display: inline-grid;
    justify-content: center;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
    margin-right: 25%;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid whitesmoke;
    font-size: 125px;
    font-weight: lighter;
}

.box:hover{
    background-color: white;
    opacity: 95%;
}

